span.d-block.min-w-0.text-truncate.flex-grow-1 {
    text-align: center;
}

td.o_data_cell.cursor-pointer.o_field_cell.o_list_char {
    text-align: center;
}

td.o_data_cell.cursor-pointer.o_field_cell.o_list_number {
    text-align: center !important;
}

td.o_data_cell.cursor-pointer.o_field_cell.o_list_text {
    text-align: center;
}

.scrollable {
  max-height: calc(100vh - 150px); /* Điều chỉnh chiều cao tối đa để phù hợp với chiều cao màn hình */
  overflow-y: auto; /* Cho phép cuộn dọc */
}

.chart-container {
  display: flex;
  flex-wrap: wrap; /* Cho phép xuống dòng */
  gap: 20px; /* Khoảng cách giữa các biểu đồ */
}

.chart-item {
  flex: 0 1 calc(50% - 20px); /* Mỗi biểu đồ chiếm 50% chiều rộng và trừ khoảng cách */
  min-width: 300px;
}

@media (max-width: 768px) {
  .chart-item {
    flex: 0 1 100%; /* Chiếm 100% chiều rộng trên màn hình nhỏ */
  }
}

.mk_apps_sidebar_panel {
    display: none !important;
}

td.o_data_cell.cursor-pointer.o_field_cell.o_list_text {
    text-align: justify;
}

td.o_data_cell.cursor-pointer.o_field_cell.o_list_char {
    text-align: justify;
}

.o_field_one2many .o_list_view .o_data_row td.o_field_cell[name="sonha_kpi"] {
    display: none !important;
}

div.kpi-module div div table thead tr th {
    border: 1px solid;
}

div.kpi-module div div table tbody tr.o_data_row td {
    border: 1px solid;
}

div.kpi-module div div table tbody tr:not([class]) {
    display: none;
}

div.kpi-module div div table tbody tr td.o_data_cell.cursor-pointer {
    border: 1px solid;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="name"]{
    width: 25% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="end_date"]{
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="kpi_year"]{
    width: 15% !important;
}

th.align-middle.cursor-default.opacity-trigger-hover[data-name="sonha_kpi"] {
    width: 0% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_one"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_two"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_three"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_four"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_five"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_six"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_seven"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_eight"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_nigh"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_ten"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_eleven"] {
    width: 5% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="ti_le_monh_twenty"] {
    width: 5% !important;
}
td.o_data_cell.cursor-pointer.o_field_cell[name="end_date"] {
    text-align: center !important;
}

th.align-middle.cursor-default.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="total_percentage_year"] {
    width: 15% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="kpi_year"] {
    width: 47% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="kpi_month"] {
    width: 47% !important;
}

.o_list_view.kpi-month-custom.o_field_x2many.o_field_x2many_list span.d-block.min-w-0.text-truncate.flex-grow-1 {
    white-space: pre-line !important;
}

th.align-middle.cursor-default.opacity-trigger-hover[data-name="upload_file"] {
    width: 3% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="sonha_kpi"] {
    display: none;
    visibility: hidden;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="small_items_each_month"] {
    width: 13% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="kpi_year_id"] {
    width: 13% !important;
}

middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="start_date"] {
    width: 10% !important;
}

middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="end_date"] {
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="dv_amount_work"] {
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="dv_matter_work"] {
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="dv_comply_regulations"] {
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.o_list_number_th.o_percentage_cell.opacity-trigger-hover[data-name="dv_initiative"] {
    width: 10% !important;
}

th.align-middle.o_column_sortable.position-relative.cursor-pointer.opacity-trigger-hover[data-name="dv_description"] {
    width: 10% !important;
}

button.btn.btn-primary[title="In"]{
    display: none !important;
    visibility: hidden !important;
}