.o_cell.o_wrap_input.flex-grow-1.flex-sm-grow-0.text-break {
    height: 0px !important;
}

.o_cell.o_wrap_label.flex-grow-1.flex-sm-grow-0.w-100.text-break.text-900 {
    margin-top: -5px !important;
}

.o_cell.o_wrap_input.flex-grow-1.flex-sm-grow-0.text-break {
    margin-top: -6px !important;
}