<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        name="Nhập liệu dự án"
        id="menu_nhap_lieu_du_an"
        parent="project.menu_main_pm"
        action="action_nhap_lieu_du_an"
        sequence="10"/>


<!--    <menuitem-->
<!--        name="Group dự án"-->
<!--        id="menu_group_du_an"-->
<!--        parent="project.menu_main_pm"-->
<!--        action="group_du_an_action"-->
<!--        sequence="20"/>-->

    <menuitem
        name="Báo cáo dự án"
        id="menu_bao_cao_du_an_tong"
        parent="project.menu_main_pm"
        sequence="30"/>

    <menuitem
        name="Báo cáo dự án nhiệm vụ"
        id="menu_bao_cao_du_an"
        parent="menu_bao_cao_du_an_tong"
        action="action_bao_cao_du_an"
        sequence="3"/>

    <menuitem
        name="Báo cáo dự án cha"
        id="menu_bao_cao_du_an_cha"
        parent="menu_bao_cao_du_an_tong"
        action="action_bao_cao_du_an_cha"
        sequence="1"/>

    <menuitem
        name="Báo cáo dự án con"
        id="menu_bao_cao_du_an_con"
        parent="menu_bao_cao_du_an_tong"
        action="action_bao_cao_du_an_con"
        sequence="2"/>

    <menuitem
        id="menu_du_an_parent"
        name="Dự án"
        parent="project.menu_main_pm"
        sequence="1"/>

    <menuitem
        id="menu_du_an_base"
        name="Dự án đang chạy"
        parent="menu_du_an_parent"
        action="project.open_view_project_all"
        sequence="1"/>

    <menuitem
        id="menu_project_project_second"
        name="Dự án đã hoàn thành"
        parent="menu_du_an_parent"
        action="action_project_project_second"
        sequence="2"/>

</odoo>
