<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem
        name="Nhập liệu dự án"
        id="menu_nhap_lieu_du_an"
        parent="project.menu_main_pm"
        action="action_nhap_lieu_du_an"
        sequence="10"/>
    <menuitem
        name="Theo dõi nhiệm vụ dự án con"
        id="menu_theo_doi_nhiem_vu_du_an_con"
        parent="project.menu_main_pm"
        action="action_theo_doi_nhiem_vu_du_an_con"
        sequence="11"/>
</odoo>
